__APP_DOMAIN__ {
  encode zstd gzip

  reverse_proxy 127.0.0.1:__APP_BIND_PORT__
}

__ZERO_DOMAIN__ {
  encode zstd gzip

  reverse_proxy 127.0.0.1:__ZERO_BIND_PORT__ {
    transport http {
      versions h1_1
    }
  }
}

